<!--Later, make the nav bar to dynamically change the item based on the URL Param-->
<nav>
    <ul id="nav-bar">
        <li id="current">Home</li>
        <div id="dropdown">
            <li>Custom</li>
            <li>Sedam</li>
            <li>SUV</li>
            <li>Truck</li>
        </div>
    </ul>
</nav>