<div id="presentation">
    <h1>Welcome to CSE Motors!</h1>
    <img src="/images/vehicles/delorean-tn.jpg" alt="DMC delorean-tn">
</div>
<div id="upgrade">
    <div class="upgrade-item">
        <img src=/images/upgrades/flux-cap.png" alt="flux-cap">
        <a href="">Flux Capcitor</a>
    </div>
    <div class="upgrade-item">
        <img src="/images/upgrades/flame.jpg" alt="Decal">
        <a href="">Flame Decals</a>
    </div>
    <div class="upgrade-item">
        <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper-sticker">
        <a href="">Bumper Stickers</a>
    </div>
    <div class="upgrade-item">
        <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap">
        <a href="">Hub Caps</a>
    </div>
</div>
<div>
    <ul id="reviews">
        <li class="review">"So fast it's almost like traveling in time." (4/5)</li>
        <li class="review">"Coolest ride on the rode." (4/5)</li>
        <li class="review">"I'm feeling McFly!" (5/5)</li>
        <li class="review">"The most futuristic ride of our day." (4.5/5)</li>
        <li class="review">"80's living and I love it!" (5/5)</li>
    </ul>
</div>