/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: url("../images/site/checkerboard.jpg");
}

#wrapper {
  background-color: bisque;
  padding: 10px;
}

/* Index page */

#reviews {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.review {
  margin-left: 0px;
}

/* header */

#top-header {
  background-color: bisque;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  margin: 20px;
}

/* navigation bar */

nav {
  background-color: rgb(140, 213, 255); 
  margin: auto;
}

ul {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li {
  margin: 20px;
}