@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: url("../images/site/checkerboard.jpg");
}

p {
  font-family: "Nunito", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Inter", sans-serif;
}

footer {
  font-family: "Nunito", sans-serif;
}

#wrapper {
  background-color: bisque;
  padding: 10px;
  border: 5px solid;
  border-radius: 10px;
  border-color: rgb(255, 192, 116);
}

/* Index page/main content */

#presentation {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main-car {
  width: 80vw;
  margin: auto;
}

#propaganda {
  background-color: rgb(233, 216, 194);
  padding: 10px;
  width: 80vw;
  margin: auto;
}

#propaganda h3 {
  margin: 0px;
  opacity: 0.8;
}

#propaganda p {
  opacity: 0.8;
}

#propaganda button {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  opacity: 0.8;
  width: 150px;
  height: 50px;
  background-color: rgb(140, 213, 255);
}

#upgrades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.upgrade-item {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
  border: 5px solid;
  border-color: rgb(255, 192, 116);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 150px;
  height: 200px;
}

.upgrade-item img {
  max-width: 100px;
  margin: auto;
}

.upgrade-item a {
  margin: 20px auto;
}

#upgrades h3 {
  width: 100%;
}


#reviews {
  display: block;
  padding-left: 0px;
}

.review {
  font-family: "Nunito", sans-serif;
  margin-left: 0px;
  list-style-position: inside;
}


/* header */

#top-header {
  background-color: bisque;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.siteName a {
  font-size: 25px;
  font-family: "Inter", sans-serif;
  text-align: left;
  text-decoration-line: none;
  color: rgb(56, 56, 56);
}

#tools a {
  text-decoration-line: none;
  font-family: "Inter", sans-serif;
  color: rgb(56, 56, 56);
  text-align: right;
}

/* navigation bar */

nav {
  background-color: rgb(140, 213, 255); 
  border: 3px solid;
  border-color: rgb(0, 162, 255);
  border-radius: 10px;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

#nav-bar {
  font-family: "Inter", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 0px;
  list-style: none;
}

#nav-bar li {
  display: inline-block;
  margin: 0 10px;
}

#nav-bar li a {
  text-decoration: none;
  color: rgb(56, 56, 56);
}

#current {
  font-size: 20px;
  list-style-type: none;
  margin: 20px;
  display: block;
}

#nav-bar li:hover {
  background-color: rgb(0, 162, 255);
  border-color: rgb(140, 213, 255);
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

/* Inventory pages */

#inv-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
}

.vehicle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 216, 194);
  border: 5px solid;
  border-color: rgb(255, 192, 116);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  max-width: 350px;
  width: 80vw;
  height: fit-content;
}

.vehicle img {
  max-width: 200px;
  width: fit-content;
  margin: auto;
}

/* Vehicle pages */

#main-vehicle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 216, 194);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

#vehicle-img img {
  max-width: 100%;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  border: 5px solid;
  border-color: rgb(255, 192, 116);
}

span {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

#error-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#error-gif {
  margin: auto auto;
  width: 80vw;
  max-width: 256px;
  border-radius: 100%;
}

/* Login page */

#login-title {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

fieldset {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border: 5px solid;
  border-radius: 10px;
  border-color: rgb(255, 192, 116);
  background-color: rgb(218, 241, 255);
}

.form-group {
  font-family: "Nunito", sans-serif;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 70vw;
  max-width: 350px;
}

#email-form {
  margin-top: 10px;
}

label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 5px;
}

input {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  width: 70vw;
  max-width: 350px;
  height: 30px;
  margin: 5px;
  padding: 5px;
  border: 2px solid rgb(0, 162, 255);
  border-radius: 5px;
}

input:required:invalid, input:focus:invalid {
  background-color: rgb(255, 128, 128);
  border-color: red;
 }

 input:required:valid {
  background-color: rgb(170, 253, 170);
  border-color: green;
 }

#show-password {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  width: 100px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(140, 213, 255);
  border: 2px solid;
  border-color: rgb(0, 162, 255);
  border-radius: 50px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.submit-button {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  width: 150px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(140, 213, 255);
  border: 2px solid;
  border-color: rgb(0, 162, 255);
  border-radius: 50px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

/* management page */

#management-links {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  max-width: 300px;
  background-color: rgb(181, 228, 255);
  border-color: rgb(0, 162, 255);
}

#management-links a {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
}

legend {
  font-family: "Inter", sans-serif;
  background-color: rgb(181, 228, 255);
  border: 5px solid;
  border-color: rgb(255, 192, 116);
  border-radius: 5px;
  padding: 5px;
}

/* medias */

@media (min-width: 565px) {

  /* Navigation bar */

  #nav-bar {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }

  #current {
    font-size: 17px;
    list-style-type: none;
    margin: 20px;
    display: block;
  }

  #nav-bar li {
    flex-grow: 1;
    display: block;
    margin: 10px 0;
  }

  #nav-bar li a {
    display: block;
    padding: 10px;
    background-color: rgb(140, 213, 255);
  }

  #nav-bar li a:hover {
    background-color: rgb(0, 162, 255);
  }

  li:active {
    opacity: 0.8;
  }

  /* Presentation div */

  #presentation {
    position: relative;
    justify-content: center;
  }

  .upgrade-item {
    margin: 10px;
    width: 150px;
    height: 170px;
  }

  #up-reviews {
    max-width: 500px;
    margin: auto;
  }

  /* Propaganda div */

  #propaganda {
    opacity: 0.8;
    max-width: 200px;
    position: absolute;
    top: 115px;
    left: 70px;
  }
  
  #propaganda h3 {
    opacity: 0.8;
  }
  
  #propaganda p {
    opacity: 0.8;
  }
  
  #propaganda button {
    opacity: 0.8;
  }

  .review {
    width: 100%;
  }

  .vehicle {
    max-width: 450px;
  }

  /* Vehicle pages */

  #main-vehicle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  #main-vehicle div {
    margin: 10px;
  }

  #vehicle-img {
    max-width: 370px;
    width: 200vw;
    margin: auto;
  }

  /* Login page */

  #login-title {
    margin-left: 55px;
  }

  fieldset {
    justify-content: left; 
    align-items: start; 
    width: 70vw;
    max-width: 430px;
  }

  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    max-width: 400px;
  }

  .form-group label {
    flex: 1;
    text-align: left;
  }

  .form-group input {
    flex: 1;
    text-align: left;
    margin-left: 10px;
  }

  #login-button {
    margin: 0px;
    margin-top: 10px;
  }

  #show-password {
    margin: 0px;
    margin-bottom: 10px;
  }

  /* Registration page */


}

@media (min-width: 750px) {

  #wrapper {
    max-width: 800px;
    margin: auto;
  }

  #main-car {
    max-width: 600px;
    margin: auto;
  }

  #propaganda {
    top: 115px;
    left: 100px;
  }

  #up-reviews {
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    max-width: max-content;
  }

  #upgrades, #car-reviews {
    flex: 1;
  }

  /* Inventory pages for bigger views */

  #inv-display {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .vehicle {
    max-width: 300px;
    max-height: 350px;
    height: 40vw;
  }
}