<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <%- messages() %>
        <% } else { res.redirect('/') } %>
            <div id="add-management">
                <form action="/inv/add-inventory" method="post">
                    <fieldset>
                        <legend>ADD THE PRODUCER</legend>
                        <!-- The "for" and "name" needs to be the same name as in the database -->
                        <label for="inv_make">ADD THE BRAND OF THE VEHICLE</label>
                        <input type="text" name="inv_make" id="inv_make" pattern="^[a-zA-Z0-9]+$">
                        <label for="inv_model">ADD THE MODEL OF THE VEHICLE</label>
                        <input type="text" name="inv_model" id="inv_model" pattern="^[a-zA-Z0-9]+$">
                        <label for="inv_year">ADD THE YEAR OF THE VEHICLE</label>
                        <input type="text" name="inv_year" id="inv_year" pattern="^[a-zA-Z0-9]+$">
                    </fieldset>
                    <fieldset>
                        <legend>ADD DESCRIPTION AND IMAGE</legend>
                        <!-- The "for" and "name" needs to be the same name as in the database -->
                        <label for="inv_description">ADD A DESCRIPTION</label>
                        <input type="text" name="inv_description" id="inv_description" pattern="^[a-zA-Z0-9]+$">
                        <label for="inv_image">ADD A IMAGE</label>
                        <input type="text" name="inv_image" id="inv_image" pattern="^[a-zA-Z0-9]+$">
                        <label for="inv_thumbnail">ADD A THUMBNAIL</label>
                        <input type="text" name="inv_thumbnail" id="inv_thumbnail" pattern="^[a-zA-Z0-9]+$">
                    </fieldset>
                    <fieldset>
                        <legend>PRICE, MILES AND COLOR</legend>
                        <!-- The "for" and "name" needs to be the same name as in the database -->
                        <label for="inv_price">ADD THE PRICE OF THE VEHICLE</label>
                        <input type="text" name="inv_price" id="inv_price" pattern="^[a-zA-Z0-9]+$">
                        <label for="inv_miles">ADD THE RUNNED MILES OF THE VEHICLE</label>
                        <input type="text" name="inv_miles" id="inv_miles" pattern="^[a-zA-Z0-9]+$">
                        <label for="inv_color">ADD THE COLOR OF THE VEHICLE</label>
                        <input type="text" name="inv_color" id="inv_color" pattern="^[a-zA-Z0-9]+$">
                    </fieldset>
                    <button class="submit-button" id="add-inventory-button" type="submit">Add to
                        inventory</button>
                </form>
            </div>