<% if (title) { %>
        <h1>
            <%= title %>
        </h1>
        <div id="main-vehicle">
        <% } else { res.redirect('/') } %>
    
            <%# messages() %>
                <%- vehicleGrid %>
        </div>